/**
Front End Columns
**/

.wpdevnews-row:after {
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}

.wpdevnews-col-1 .row-content {
	width: 100%;
}

.wpdevnews-col-2 .row-content-1 {
	width: 48%;
	float: left;
}

.wpdevnews-col-2 .row-content-2 {
	width: 48%;
	float: right;
}